<div class="container py-5">

  <%= link_to "← Retour",
      dogs_path,
      class: "text-decoration-none text-muted" %>

  <div class="card shadow-sm rounded-4 border-0 mt-3">

    <div class="card-body p-4">

      <h1 class="fw-bold mb-4">
        Ajouter un chien
      </h1>

      <%= render "form", dog: @dog %>

    </div>

  </div>

</div>
