<% if notice %>
  <div class="alert alert-info alert-dismissible fade show position-fixed top-50 start-50 translate-middle py-0 px-2 small" style="z-index: 2000; max-width: 250px; max-height: 200px;" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
<div class="alert alert-info alert-dismissible fade show position-fixed top-50 start-50 translate-middle py-0 px-2 small" style="z-index: 2000; max-width: 250px; max-height: 200px;" role="alert">
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
  <%= notice %>
</div>
<% end %>
