

<nav class="bottom-nav border-top bg-white d-flex justify-content-around align-items-center fixed-bottom py-3">
  <% if user_signed_in? %>
    <%= link_to chats_path, class:"nav-icon #{'active-nav' if current_page?(chats_path)} text-warning fs-4", title:"Chatbot" do %>
    <i class="fa-solid fa-comment-dots"></i>
    <% end %>
  <% else %>
    <%= link_to chats_path, class:"nav-icon #{'active-nav' if current_page?(chats_path)} text-warning fs-4", title:"Chatbot" do %>
      <i class="fa-solid fa-comment-dots"></i>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
  <%= link_to dogs_path, class: "nav-icon #{'active-nav' if current_page?(root_path)} text-dark fs-4", title: "Profil" do %>
    <i class="fa-solid fa-user"></i>
  <% end %>
<% else %>
  <%= link_to new_user_session_path, class: "nav-icon #{'active-nav' if current_page?(new_user_session_path)} text-dark fs-4", title: "Profil" do %>
    <i class="fa-solid fa-user"></i>
  <% end %>
<% end %>
</nav>
