<div class="container py-5">

  <div class="d-flex justify-content-between align-items-center mb-4">

    <div class="container">

      <h1 class="fw-bold">
        Historique
      </h1>

    </div>
<div class="container d-flex flex-row-reverse">

    <% if current_user.dogs.exists? %>
    <%= link_to "Nouveau chat",
        dog_chats_path(current_user.dogs.first),
        data: {turbo_method: :post},
        class: "btn btn-doggy text-white rounded" %>
     <% else %>
     <%= link_to "Créer un chien",
        new_dog_path,
        class: "btn btn-doggy text-white rounded mx-2" %>
    <% end %>
</div>

  </div>

  <% if @chats.any? %>

    <div class="d-inline row g-4">

      <% @chats.each do |chat| %>

        <div class="d-inline col-md-4">

          <div class="card-chat border-0 shadow-sm rounded-4 h-100">

            <div class="card-body d-flex justify-content-between align-items-center p-0">

              <h5 class="fw-bold">
                <%= chat.title %>
              </h5>

              <%= link_to "Ouvrir",
                  chat_path(chat),
                  class: "btn btn-orange rounded w-30" %>

            </div>

          </div>

        </div>

      <% end %>

    </div>

  <% else %>

    <div class="bg-white rounded-4 shadow-sm p-5 text-center">

      <h3 class="fw-bold">
        Aucune conversation, merci de créer un premier chien.
      </h3>

    </div>

  <% end %>

</div>
