<h1>EN TRAVAUX</h1>
<p>Ce sera le fil d'actualités ici</p>

<div class="d-flex flex-column justify-content-center align-items-center container min-vh-100">
  <div class="col-12 col-sm-10 col-md-8 col-lg-5">

    <div class="card bg-light">
      <div class="d-flex justify-content-center align-item-center flex-row-reverse">
        <%= link_to "Login", new_user_session_path, class: "btn btn-orange-reverse rounded px-4" %>
      </div>
    </div>
  </div>
</div>
